@using SistemaMonitoramento.Models
@model RegiaoViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <form asp-action="DashBoardEnchente">
        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">@Model.Nome</h1>
                </div>

                <!-- Content Row -->

                <div class="row">
                    <div class="card shadow col-12 mb-4">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">
                                <a class="col-3 float-left"> Situação Atual </a>
                                <a class="col-7 float-right">Endereço</a>
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="col-1">
                                <div class="progress progress-bar-vertical">
                                    <div id="current_situation" class="progress-bar bg-warning"
                                         role="progressbar"
                                         aria-valuenow="60"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="height: 50%;">
                                    </div>
                                </div>
                            </div>
                            <label id="current_situation_label" class="col-3 float-left">
                                <span id="level" class="m-0 font-weight-bold text-secondary">Nível: </span> <span id="level_label">-</span> <br>
                                <span id="height" class="m-0 font-weight-bold text-secondary">Altura da Enchente: </span><span id="height_number">+- 40cm</span><br>
                                <span id="last_update" class="m-0 font-weight-bold text-secondary">Última Atualização: </span>16:55h
                            </label>

                            <div id="address_label" class="col-5 float-right">
                                <h6 class="m-0 font-weight-bold text-secondary">Via:</h6> @Model.Nome, @Model.Numero
                                <h6 class="m-0 font-weight-bold text-secondary">Bairro:</h6> @Model.Bairro
                            </div>
                            <div id="address_label" class="col-2 float-right">
                                <h6 class="m-0 font-weight-bold text-secondary">Cidade:</h6> @Model.Cidade - @Model.Estado
                                <h6 class="m-0 font-weight-bold text-secondary">CEP:</h6> @Model.CEP
                            </div>

                        </div>
                    </div>



                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-8">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Histórico de Enchentes</h6>
                                    <div class="Filter">
                                        <div class="dropdown mb-4 show">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Filtrar
                                            </button>
                                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#Hoje" onclick="chart_area_set(20)">Hoje</a>
                                                <a class="dropdown-item" href="#15" onclick="chart_area_set(40)">Últimos 15 dias</a>
                                                <a class="dropdown-item" href="#90" onclick="chart_area_set(50)">Último Trimestre</a>
                                                <a class="dropdown-item" href="#180" onclick="chart_area_set(60)">Último Semestre</a>
                                                <a class="dropdown-item" href="#365" onclick="chart_area_set(70)">Último Ano</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header  d-flex flex-row align-items-center justify-content-between">
                                    <h6 class=" font-weight-bold text-primary">Histórico de Eventos</h6>
                                    <div class="Filter">
                                        <div class="dropdown mb-4 show">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Filtrar
                                            </button>
                                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#Hoje" onclick="chart_pie_enchente_set(20)">Hoje</a>
                                                <a class="dropdown-item" href="#15" onclick="chart_pie_enchente_set(40)">Últimos 15 dias</a>
                                                <a class="dropdown-item" href="#90" onclick="chart_pie_enchente_set(50)">Último Trimestre</a>
                                                <a class="dropdown-item" href="#180" onclick="chart_pie_enchente_set(60)">Último Semestre</a>
                                                <a class="dropdown-item" href="#365" onclick="chart_pie_enchente_set(70)">Último Ano</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <svg class="text-info" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg> N/A
                                        </span>
                                        <span class="mr-2">
                                            <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg> Baixo
                                        </span>
                                        <span class="mr-2">
                                            <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg> Médio
                                        </span>
                                        <span class="mr-2">
                                            <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8" />
                                            </svg> Alto
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>