<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
@model UsuarioViewModel

<form asp-action="Save" enctype="multipart/form-data">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

        <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <img height="50px" class="img-profile rounded m-4" src="img/logo.png">

                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Criar uma Conta!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-7 mb-3 mb-sm-0">
                                        <input type="text" Name="Nome" value="@Model.Nome" class="form-control form-control-user" placeholder="Nome..."/>
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                    <div class="col-5">                                     
                                         <select asp-for="TipoUsuario" asp-items="ViewBag.TipoUsers" class="form-control"></select>
                                         <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-7 mb-3 mb-sm-0">
                                        <input type="email" Name="Email" value="@Model.Email" class="form-control form-control-user" placeholder="E-mail"/>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                   
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="Senha" value="@Model.Senha" class="form-control form-control-user" placeholder="Senha"/>                                       
                                        <span asp-validation-for="Senha" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="ConfirmaSenha" value="@Model.ConfirmaSenha" class="form-control form-control-user" placeholder="Confirme a senha..."/>                                       
                                        <span asp-validation-for="Senha" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row text-center">
                                    <div class="col-12">
                                        <br />
                                        <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
                                        <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive"
                                        width="100">
                                        <span asp-validation-for="Imagem" class="text-danger"></span>
                                   </div>                            
                                </div>

                                <input type="submit" value="Registre uma Conta" class="btn btn-primary btn-user btn-block" />
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Esqueceu a Senha?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/Login/Index">Já tem uma conta? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>


<script>
 function exibirImagem() {
    var oFReader = new FileReader(); 
    oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
    oFReader.onload = function (oFREvent) 
    {
        document.getElementById("imgPreview").src = oFREvent.target.result;
    };
 }
</script>

</body>

</html>